* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: auto;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;
}


.header-div {
    border: 0px solid red;
    padding: 0.5rem;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p {
    color: white;
    font-weight: bold;
    font-size: 18px;
    
}

.wrapper {
    width: 80%;
    margin: auto;
}

.indexnumberspan {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: -10rem;
    
}
.indexnumber {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: slateblue;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 70px rgba(0,0,0,0.22);
   
}

.gallery-img {
    display: none;
    max-height: 600px;
    max-width: 600px;
    border: 0px solid gray;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 70px rgba(0,0,0,0.22);
}

.active{
    display: block;
}

.image-gallery{
    width: 100%;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    
} 

.btns {
    border: 0px solid red;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.btn {
    background-color: #0074d9;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    border: 0px solid red;
    margin-right: 50px;

}

.btn:disabled {
    background-color: #777;
    cursor: not-allowed;
}